:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: #030615;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  min-height: 100vh;
}

/* ---------- Main ---------- */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.imgContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoContainer {
  max-width: 1920px;
  max-height: 1080px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bgVideo {
  width: 80%;
  height: 80%;
  border: none;
}

/* ---------- Sidebar ---------- */
.sidebar {
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  overflow-y: auto;
}

.bgOverlay {
  position: absolute;
  inset: 0;
  background: #030615;
  opacity: 0.4;
}

.sidebarContents {
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
  overflow-y: scroll;
  height: 100%;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  background: #030615;
}

.sidebarContents div {
  flex: 1;
}

.sidebarContents button {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  margin-right: auto;
  padding: 1rem 0;
  transition-duration: 200ms;
  cursor: pointer;
}

.translateButton {
  font-size: 1.2rem;
  opacity: 0.8;
}

.translateButton:hover,
.translateButton:focus {
  transform: scale(1.2);
  opacity: 1;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  transition: 0.5s;
}

.closeButton:hover,
.closeButton:focus {
  transform: scale(1.5);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  transition: 0.5s;
}

.sidebarContents h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.descriptionDate {
  font-size: 1.2rem;
  font-weight: 200;
  opacity: 0.8;
}

/* ---------- Footer ---------- */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

footer h2 {
  font-size: 1.4rem;
}

footer h1 {
  font-size: 0.9rem;
  font-weight: 200;
}

footer button {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
}

footer button:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  transition: 0.5s;
}

footer button:focus {
  transform: scale(1.5);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  transition: 0.5s;
}

footer button i {
  font-size: 1.3rem;
  color: #fff;
}

.animate-info {
  animation: pulseAndGlow 1s ease-in-out;
}

.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, rgba(145, 145, 145, 0) 25%, rgb(0, 0, 0, 0.5));
  /*background: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5)); Wenn der Hintergrund hell ist, seht man den Text nicht */
}
/* ---------- LoadingSpinner ---------- */

#square {
  height: 720px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

#square p {
  font-size: 3rem;
  opacity: 0.5;
}

span {
  position: absolute;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin linear infinite;
}

span div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

@keyframes spin {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulseAndGlow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
  }
  50% {
    transform: scale(1.5);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
  }
}

@keyframes growAndGlow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
  }
  100% {
    transform: scale(1.5);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  }
}